.entry-container{
    background-color: #E3E4DB;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.prompt-menu, .award-menu{
    max-width: 16.5vw;
    height: auto;
    padding: 5vh 1vw;
}


.entry-div{
    padding: 5vh 2vw;
    width: 70vw;
}

.entry-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entry-header-item {
    margin: 0;
}

.entry-preview-div{
    height: 80vh;
    overflow: auto;
}




