.entry-container{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.prompt-menu{
    max-width: 50vw;
    height: auto;
    padding: 5.3vh 1vw;
    flex-shrink: 0;
}

.entry-div{
    padding: 5vh 5vw;
    width: 70vw;
    height: auto;
}

.entry-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.entry-header-item {
    margin: 10px;
}

