.dashboard-container{
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.dash-menu{
    max-width: 16.5vw;
    height: auto;
    padding: 5vh 1vw;
}

.dash-calendar{
    padding: 5vh 5vw 5vh 1vw;
    width: 70vw;
    height: auto;
}

.calendar-link:hover {
    color: blue;
}