.App {
  margin: 20px 0 auto auto;
}

button.ui.button {
  color: #566246;
  background-color: #b5e6cb;
}

.navbar-title{
  background-color:white;
  padding: 0 1vw 2vh;
  margin: auto 0;

}

.ui.top.attached.tabular.menu1.menu{
  background-color: #E3E4DB;
}

.ui.segment.signup-container{
  background-color: #E3E4DB;
  margin: 0;
  padding: 10px;
  height: 90vh;
}

.ui.form.signup{
  background-color: white;
  padding: 2vh 2vw;
  margin: 3em auto;
  width: 20em;
  border-radius: 1em;
  border-style: solid;
  border-width: thin;
}

.title-container{
  background-color: white;
  display: flex; 
  align-items: flex-start;
  justify-content:flex-start;
  height: 4em;
  margin: auto, 0, 0, 0;
  padding : 4px;
  width: auto;
  border-radius: 1em;
  border-style: outset;
  border-color: #DD9BCF;
  box-shadow: 3px 3px 8px #DD9BCF;
 }

.title-text{
  margin: 0 8px 0 0;
  padding-left: 0.5em;
}

.title-pic{
  height: 3em;
  margin-left: auto;
}


