.App{
  background-color: white;
  margin: 20px 0;
}

.navbar-title{
  padding: 0 1vw 1vh;
  margin: auto 0;
}

.signup-container{
  background-color: white;
  margin: auto;
}

.signup{
  margin: 3em auto;
  width: 20em;
}

.title-container{
  background-color: white;
  display: flex; 
  align-items: flex-start;
  justify-content:flex-start;
  height: 4em;
  margin: auto, 0, 0, 0;
  padding : 4px;
  width: auto;
  border-radius: 1em;
  border-style: outset;
  border-color: #DD9BCF;
  box-shadow: 3px 3px 8px #DD9BCF;
 }

.title-text{
  margin: 0 8px 0 0;
  padding-left: 0.5em;
}

.title-pic{
  height: 3em;
  margin-left: auto;
}






/* 
COLORS:
#C6FAD2 green
#DD9BCF purple
#F6FFEE light green
#F48882 orange red
#FAD2CC pink
*/